.MainNav {
  padding: 1% 1.5% 1% 1%;
  display: flex;
  align-items: flex-end;
  top: 0;
  right: 0;
  left: 0;

  .Logo {
    margin-right: auto;
  }

  .MainNav-link {
    margin: 0 1%;
    text-align: center;
    font-weight: bold;
    color: black;
    text-decoration: none;
    .MainNav-link-inner {
      display: inline-block;
    }
  }
  .MainNav-bounce .MainNav-link-inner {
    animation: bounce .3s ease 0s 1;
  }
  .MainNav-dropfade {
    animation: dropfade .4s ease .1s 1;
    animation-fill-mode: backwards;
  }
  .MainNav-dropfade-delayed {
    animation: dropfade .4s ease .2s 1;
    animation-fill-mode: backwards;
  }
  .MainNav-dropfade-delayed-two {
    animation: dropfade .4s ease .3s 1;
    animation-fill-mode: backwards;
  }
  .MainNav-link-light {
    font-weight: normal;
  }
}

.MainNav-not-sticky {
  position: fixed;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 1);
  transition: all .8s;
  .MainNav-link{
    transition: all .2s;
    flex-grow: 0;
  }
}

.MainNav-sticky {
  position: fixed;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, .7);
  transition: all .5s;

  .MainNav-link {
    transition: all .8s;
    flex-grow: 1;
  }
  .Logo {
    display: none;
  }

  .MainNav-absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    justify-content: flex-end;
    background-color: rgba(255, 255, 255, 1);
    transition: all .8s;
  }
}
