.MainNav {
  padding: 1% 1.5% 1% 1%;
  display: flex;
  align-items: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  .Logo {
    margin-right: auto;
  }

  .link {
    margin: 0 1%;
    text-align: center;
    font-weight: bold;
    color: black;
    text-decoration: none;
    span {
      display: inline-block;
    }
  }
  .bounce span {
    animation: bounce .3s ease 0s 1;
  }
  .one {
    animation: dropfade .4s ease .1s 1;
    animation-fill-mode: backwards;
  }
  .two {
    animation: dropfade .4s ease .2s 1;
    animation-fill-mode: backwards;
  }
  .three {
    animation: dropfade .4s ease .3s 1;
    animation-fill-mode: backwards;
  }
  .four {
    font-weight: normal;
  }
}

.not-sticky {
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 1);
  transition: all .8s;
  .link{
    transition: all .2s;
    flex-grow: 0;
  }
}

.sticky {
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, .7);
  transition: all .5s;
  .link {
    transition: all .8s;
    flex-grow: 1;
  }
  .Logo {
    display: none;
  }
}
