.g_link:hover {
  background-color: #e87572;
  color: #fff;
}

.g_link {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: #e87572;
  border: 1px solid #e87572;
  border-radius: 36px;
  margin: 10px;
  padding: 18px 50px;
  text-align: center;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.05);
  transition: all 0.5s;
}

@keyframes dropfade {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(0);
  }
}
.MainNav {
  padding: 1% 1.5% 1% 1%;
  display: flex;
  align-items: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.MainNav .Logo {
  margin-right: auto;
}
.MainNav .link {
  margin: 0 1%;
  text-align: center;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.MainNav .link span {
  display: inline-block;
}
.MainNav .bounce span {
  animation: bounce 0.3s ease 0s 1;
}
.MainNav .one {
  animation: dropfade 0.4s ease 0.1s 1;
  animation-fill-mode: backwards;
}
.MainNav .two {
  animation: dropfade 0.4s ease 0.2s 1;
  animation-fill-mode: backwards;
}
.MainNav .three {
  animation: dropfade 0.4s ease 0.3s 1;
  animation-fill-mode: backwards;
}
.MainNav .four {
  font-weight: normal;
}

.not-sticky {
  justify-content: flex-end;
  background-color: white;
  transition: all 0.8s;
}
.not-sticky .link {
  transition: all 0.2s;
  flex-grow: 0;
}

.sticky {
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0.7);
  transition: all 0.5s;
}
.sticky .link {
  transition: all 0.8s;
  flex-grow: 1;
}
.sticky .Logo {
  display: none;
}

.Logo {
  margin: 0;
  padding: 0;
  color: #008670;
  font-size: 1.2rem;
  border-bottom: 0.4rem solid black;
  animation: dropfade 0.5s ease 0.1s 1;
  animation-fill-mode: backwards;
}

.Home .sentinal {
  height: 1px;
  visibility: hidden;
  position: absolute;
  top: 100px;
}
.Home .sentinal-two {
  height: 1px;
  visibility: hidden;
}
.Home .not-visible {
  opacity: 0;
}
.Home .visible {
  opacity: 1;
  transition: opacity 1s;
}
.Home .heading {
  font-size: 3.5rem;
  font-weight: 200;
  text-align: center;
  margin: 0;
  padding: 3% 0;
}
.Home .divider {
  width: 80%;
}
.Home .section-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 7%;
  padding-top: 100px;
  min-height: 100vh;
  background-image: linear-gradient(#ddd 0%, #fafafa 21%, #fafafa 100%);
}
.Home .section-one .container-one {
  animation: fadein 0.5s 0.1s 1;
  animation-fill-mode: backwards;
}
.Home .section-one .container-two {
  animation: fadein 0.5s 0.1s 1;
  animation-fill-mode: backwards;
  margin: 0 auto;
}
.Home .section-one .heading {
  font-size: 4rem;
  margin-top: 0;
}
.Home .section-one .text {
  font-size: 1.2rem;
  color: #008670;
}
.Home .section-two {
  text-align: center;
  display: grid;
  align-items: center;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgba(0, 0, 0, 0.04);
}
.Home .section-two .heading {
  grid-area: 1/1/2/4;
  margin: 0;
  color: #008670;
  background-color: #fff;
}
.Home .section-two .text {
  grid-area: 3/1/4/4;
  padding: 4% 10%;
  margin: 0;
  font-size: 1.7rem;
  font-weight: 200;
  color: #111;
  background-color: #fff;
}
.Home .section-two .svg {
  width: 100%;
}
.Home .section-two .img-container {
  display: inline-block;
  background-color: #aff8db;
  border-radius: 50%;
  padding: 9%;
  margin-top: 10%;
  width: 40%;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.Home .section-two h3 {
  font-weight: bold;
  font-size: 2rem;
}

.section-three {
  height: 100vh;
  padding-top: 2%;
}
.section-three .heading {
  color: #e87572;
  padding: 3%;
}
.section-three h3 {
  width: 30%;
  text-align: center;
  margin: 0;
  padding: 3%;
  font-size: 1.5rem;
  font-weight: 200;
}
.section-three p {
  width: 70%;
  margin: 0;
  padding: 3%;
  font-size: 1.5rem;
  font-weight: 200;
}
.section-three .container {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.Apply .section-one {
  min-height: 100vh;
  padding: 100px 5%;
  display: grid;
  justify-content: center;
  align-content: center;
}
.Apply h2 {
  font-size: 2rem;
  font-weight: 200;
}
.Apply span {
  color: #008670;
}

* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
  scroll-behavior: smooth;
}

.StripeElement {
  background-color: white;
}

/*# sourceMappingURL=index.css.map */
