//variables
$primary-color: #008670;

//import pages and utils
@import './partials/misc/global';
@import './partials/misc/media-queries';
@import './partials/misc/keyframes';
@import './partials/pages/Home';
@import './partials/pages/Apply';
@import './partials/pages/Contact';
@import './partials/pages/Privacy';
@import './partials/pages/Info';

//import components
@import './partials/components/MainNav';
@import './partials/components/Logo';
@import './partials/components/ApplicationForm';

//css
* {
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  margin: 0;
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html {
  scroll-behavior: smooth;
}

.StripeElement {
  background-color: white;
}
