.Home {
  .sentinal {
    height: 1px;
    visibility: hidden;
    position: absolute;
    top: 100px;
  }
  .sentinal-two {
    height: 1px;
    visibility: hidden;
  }
  .not-visible {
    opacity: 0;
  }
  .visible {
    opacity: 1;
    transition: opacity 1s;
  }
  .heading {
    font-size: 3.5rem;
    font-weight: 200;
    margin: 0;
    padding: 3% 0;
  }
  .divider{
   width: 80%;
  }

  .section-one {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 7%;
    padding-top: 100px;
    min-height: 100vh;
    background-image: linear-gradient(#ddd 0%, #fafafa 21%, #fafafa 100%);
    .container-one {
      flex-grow: 1;
      animation: fadein .5s .1s 1;
      animation-fill-mode: backwards;
    }
    .container-two {
      text-align: center;
      flex-grow: 1;
      animation: fadein .5s .1s 1;
      animation-fill-mode: backwards;
    }
    .heading {
      font-size: 4rem;
      margin-top: 0;
      text-align: left;
    }
    .text {
      font-size: 1.2rem;
      color: #008670;
    }
  }

  .section-two {
    text-align: center;
    display: grid;
    align-items: center;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(0,0,0,.04);
    .heading {
      grid-area: 1 / 1 / 2 / 4;
      margin: 0;
      color: #008670;
      background-color: #fff;
    }
    .text {
      grid-area: 3 / 1 / 4 / 4;
      padding: 4% 10%;
      margin: 0;
      font-size: 1.7rem;
      font-weight: 200;
      color: #111;
      background-color: #fff;
    }
    .svg {
      width: 100%;
    }
    .img-container {
      display: inline-block;
      background-color: rgb(175,248,219);
      border-radius: 50%;
      padding: 9%;
      margin-top: 10%;
      width: 40%;
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    }
    .subheading {
      font-weight: bold;
      font-size: 2rem;
    }
  }
}


.section-three {
  height: 100vh;
  padding-top: 2%;
  .heading {
    color: #e87572;
    padding: 3%;
    text-align: center;
  }
  .subheading {
    width: 30%;
    text-align: center;
    margin: 0;
    padding: 3%;
    font-size: 1.5rem;
    font-weight: 200;
  }
  .text {
    width: 70%;
    margin: 0;
    padding: 3%;
    font-size: 1.5rem;
    font-weight: 200;
  }
  .container {
    display: flex;
    justify-content: space-around;
    align-content: center;
  }
}
