.Info {
  position: relative;
  .heading {
    padding: 3% 7%;
    font-size: 3rem;
    font-weight: 200;
    border-bottom: 1px solid black;
  }
  .section-one {
    margin: 0 7%;
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 150%;
  }
}
