.g_link:hover {
  background-color: #e87572;
  color: #fff;
}
.g_link {
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: #e87572;
  border: 1px solid #e87572;
  border-radius: 36px;
  margin: 2%;
  padding: 18px;
  width: 90%;
  text-align: center;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.05);
  transition: all .5s;
}
